@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("react-datepicker/dist/react-datepicker.css");
.App {
  text-align: center;
  min-height: 100vh;
  font-size: 14px;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.form-group {
  max-width: 300px;
}

.center {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pt-24 {
  padding-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.wd-60 {
  width: 60px;
}

.wd-350 {
  width: 350px;
}

.wd-100-p {
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  margin-bottom: 10px;
}

.font-16 {
  font-size: 16pt;
}

.not-border-radius {
  border-radius: 0% !important;
}

.text-center {
  text-align: center;
}

.font-13 {
  font-size: 13px;
  margin-bottom: -1px;
}

.nav-item {
  font-size: 16pt;
  color: white;
  padding-right: 10px;
}

.nav-item:hover {
  font-weight: 500;
  color: white;
  text-decoration: none !important;
}
